
body {
	margin: 0;
        width: 100%;
        height: 100%;
        position: relative;
}

/* FINISH ME (Task 2.2+): add the styling for the logo and the create button */
header {
	display: block;
	width: 100%;
	text-align: center;
}

.share-smile {
	display: block;
	width: 100%;
}

.title {
	display: block;
	width: 100%;
	text-align: center;
}

.happiness-col{
	width: 80px;
	left: 0;
	float: left;
}

.story-col{
	width: 80%;
	float: left;
}

.like-col{
	width: 80px;
	right: 0;
	float: left;
}

/* FINISH ME (Task 3): add responsive styling for the number of layout columns */
@media screen and (min-width: 800px) {
}
