body {
	background-color: #347B98;
	font-family: "Comic Sans MS";
	margin: 0;
        width: 100%;
        height: 100%;
        position: relative;
}

/* FINISH ME (Task 2.2+): add the styling for the logo and the create button */
header {
	background-color: #092834;
	display: block;
	width: 100%;
	text-align: center;
	position: fixed;
	overflow: hidden;
	top: 0;
}

form{
	display: block;
	margin: auto;
	width: 80%;
}

section{
	margin-top: 225px;
}

label{
	text-align: left;
	display: block;
	margin-left: 20%;
	margin-bottom: 5px;
}

.logo{
	margin-top: 1%;
	margin-bottom: 1%;
}

.message{
	color: white;
	margin-bottom: 2px;
}

.title-input{
	display: block;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
}

.story-input{
	display: block;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
}

.happiness-level-input{
	display: block;
	margin-left: 20%;
	margin-bottom: 20px;
}

#submit-input{
	display: block;
	float: right;
	width: 80px;
	margin-right: 20%;
}

#cancel-button{
	display: block;
	float: left;
	width: 80px;
	margin-left: 20%;
}

.my-button {
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	background-color: #E4F1F6;
	border-color: black;
	width: 100%;
	display: block;
	text-decoration: none;
	color: black;
}

.my-button:hover {
	background-color: #1A3E4C;
}


.smiles{
	width: 100%;
	margin-top: 225px;
}

.smile{
	background-color: #67AFCB;
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
}

#share-smile {
	display: block;
	width: 96%;
	margin: 10px;
	margin-left: 2%;
}

.title {
	font-size: 20px;
	display: block;
	width: 100%;
	text-align: center;
}

.happiness-col{
	display:block;
	width: 80px;
	float: left;
	text-align: center;
}

.happiness-level-1{
	background-image: url(../images/happiness-level.png);
	background-repeat: no-repeat;
	width: 40px;
	height: 80px;
	margin-left: 20px;
}

.happiness-level-2{
	background-image: url(../images/happiness-level.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 80px;
	margin-left: 19px;
}

.happiness-level-3{
	background-image: url(../images/happiness-level.png);
	background-repeat: no-repeat;
	background-position: right;
	width: 40px;
	height: 80px;
	margin-left: 18px;
}

.story-col{
	display:block;
	width: calc(100% - 160px);
	float: left;
}

.like-col{
	display:block;
	width: 80px;
	float: left;
	text-align: center;
}

.like{
	background-image: url('../images/heart.png');
	color: transparent;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	width: 48px;
	height: 42px;
}

.timestamp{
	display:block;
	clear: left;
	margin-left: 80px;
	margin-bottom: 5px;
}


/* FINISH ME (Task 3): add responsive styling for the number of layout columns */
	.mainbody.smiles{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
    	-moz-column-count: 1; /* Firefox */
    	column-count: 1;
    }
@media screen and (min-width: 801px) {
	.mainbody.smiles{
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
    	-moz-column-count: 2; /* Firefox */
    	column-count: 2;
	}
}
@media screen and (min-width: 1201px) {
	.mainbody.smiles{
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
    	-moz-column-count: 3; /* Firefox */
    	column-count: 3;
	}
}

